<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>icanstay</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4.28</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twitterkit-cLlNKQKOvnJwTdUbyQql7gxA6</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.ftt.icanstay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>icanstay</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.ftt.icanstay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb466010770273280</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.ftt.icanstay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.814192079634-ej58j76s2n1ecs9i0f8f2novhl9tr1b9</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>branch-testbed</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CNPropertyNotFetchedException</key>
	<string>DisplayEmailAddress</string>
	<key>FacebookAppID</key>
	<string>466010770273280</string>
	<key>FacebookDisplayName</key>
	<string>icanstay</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>twitterauth</string>
		<string>twitter</string>
		<string>whatsapp</string>
		<string>comgooglemaps</string>
		<string>googlechromes</string>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbauth</string>
		<string>fbauth2</string>
		<string>fb-messenger-api20140430</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string></string>
	<key>NSContactsUsageDescription</key>
	<string>$(PRODUCT_NAME) contact use</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Please allow your location</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Please allow your gallery</string>
	<key>UIAppFonts</key>
	<array>
		<string>Gotham-XLightItalic.otf</string>
		<string>Gotham-MediumItalic.otf</string>
		<string>Gotham-Thin.otf</string>
		<string>Gotham-ThinItalic.otf</string>
		<string>Gotham-Ultra.otf</string>
		<string>Gotham-UltraItalic.otf</string>
		<string>Gotham-XLight.otf</string>
		<string>Gotham-Bold.otf</string>
		<string>Gotham-BoldItalic.otf</string>
		<string>Gotham-Book.otf</string>
		<string>Gotham-BookItalic.otf</string>
		<string>Gotham-Light.otf</string>
		<string>Gotham-LightItalic.otf</string>
		<string>Gotham-Medium.otf</string>
		<string>Gotham-BlackItalic.otf</string>
		<string>Gotham-Black.otf</string>
		<string>FontAwesome.ttf</string>
		<string>JosefinSans-SemiBoldItalic.ttf</string>
		<string>JosefinSans-Thin.ttf</string>
		<string>JosefinSans-ThinItalic.ttf</string>
		<string>JosefinSans-SemiBold.ttf</string>
		<string>JosefinSans-Regular.ttf</string>
		<string>JosefinSans-LightItalic.ttf</string>
		<string>JosefinSans-Light.ttf</string>
		<string>JosefinSans-Italic.ttf</string>
		<string>JosefinSans-BoldItalic.ttf</string>
		<string>JosefinSans-Bold.ttf</string>
	</array>
	<key>UIApplicationExitsOnSuspend</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>key_live_fjtzGyfI9as482BgeYSaZihasvaDJybc</string>
	</dict>
</dict>
</plist>
